<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>

    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<h3>User Registration</h3>
<form action="saveUser" method="post">
<pre>

Name :    <input type="text" name="name"/>

Email:    <input type="text" name="email"/>

Password: <input type="password" name="password"/>

        <h1>Role(s):</h1>
        <input type="checkbox" name="roles" value="Painter"/>Painter
        <input type="checkbox" name="roles" value="Customer"/>Customer
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <input style="  background-color: #3CBC8D; color: white;" type="submit" value="Register"/>

</pre>
</form>
<div th:text="${msg}"></div>
<a href="http://localhost:8080/">Return to homepage</a>
</body>
</html>